@import '../../sass/main';

.display-location {
  width: 111rem;
  margin-top: -8rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3.7rem;
  padding-bottom: 3.7rem;
  background-color: white;
  border-radius: 15px;
  display:flex;
  text-align: left;
  vertical-align: top;
  z-index: 50;

  @include respond(tab-land) {
    width: 100vw;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    padding-right: 0;
    padding-left: 0;
    flex-direction: column;
    text-align: center;
  }

  &__box {
    position: relative;
    margin-left: 3.2rem;
    padding-right: 3.2rem;
    width: 24.5rem;
    min-height: 75px;

    @include respond(tab-land) {
      margin-left: 0;
      margin-right: 0;
      padding-right: 0;
      padding-left: 0;
      width: auto;
      min-height: auto;
    }

    &:not(:last-child) {
      border-right: 1px solid rgba(0, 0, 0, 0.15);

      @include respond(tab-land) {
        border-right: none;
      }
    }

    &__label {
      width: 100%;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 1.75px;
      font-weight: $font-weight-strong;
      color: #2C2C2C;
      opacity: 0.5;
      text-transform: uppercase;
    }

    &__value {
      width: 100%;
      padding-top: 1.3rem;
      font-size: 26px;
      line-height: 30px;
      letter-spacing: -0.23px;
      font-weight: $font-weight-medium;
      color: $very-dark-grey;
    }
  }
}
