@import '~leaflet/dist/leaflet.css';

.custom-map {
  width: 100%;
  height: 90vh;
  position: relative;
  top: -28rem;
}
.leaflet-container{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}